<%- layout('layouts/boilerplate') %> 

<!--  
<main class="container-fluid row flex-column" id="main"> -->
    <section class="altBg d-flex justify-content-center align-items-center flex-column box hr" id="presentacion">
        
            <h2 class="mb-3 display-4">Welcome</h2>
            <div>
                <div class='console-container'><span id='text'></span>
                    <div class='console-underscore' id='console'>&#95;</div>
                </div>
            </div>
            <p class="lead">based in Buenos Aires, Argentina</p>
            <a class="btn" href="#footer">
                Hire me
            </a>
   
    </section>
    <section class="container-fluid hr bg-dark" id="about">
        <h1 class="text-center py-5 display-4">About Me</h1>
        <h3 class="mb-4">Hi I'm Omar, a Full Stack dev Jr.</h3>
        <p class="lead  text-wrap" style="color: #848482">I'm 21 years old and I'm a fullstack web developer. I've learned through online bootcamps and creating my own projects, I'm a student for Informatic Engineering at the Universidad de Buenos Aires, my goal is to get a job as a web developer in order to gain experience in this field and expand my knowledge and skills!
        </p> 
    </section>
    
    <section class="container-fluid hr altBg" id="skills">
        <h2 class="display-4 text-center py-5">Skills</h2>
        <h3 class="display-6 bg-dark d-inline-block px-5 mt-5">Front-End</h3>
        <article class="d-flex justify-content-around flex-wrap mt-5"> 
            <div class="skillContainer">
                <h3 class="text-center">HTML</h3>
                <div class="d-block w-100">
                    <div class="progress bg-dark">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="skillContainer">
                <h3 class="text-center">CSS</h3>
                <div class="d-block w-100">
                    <div class="progress bg-dark">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 65%" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="skillContainer">
                <h3 class="text-center">Bootstrap</h3>
                <div class="d-block w-100">
                    <div class="progress bg-dark">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="skillContainer">
                <h3 class="text-center">JavaScript</h3>
                <div class="d-block w-100">
                    <div class="progress bg-dark">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="skillContainer">
                <h3 class="text-center">React</h3>
                <div class="d-block w-100">
                    <div class="progress bg-dark">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 35%" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </article>
        <h3 class="display-6 bg-dark d-inline-block px-5 mt-5">Back-End</h3>
        <article class="d-flex justify-content-around flex-wrap mt-5"> 
            <div class="skillContainer">
                <h3 class="text-center">NodeJS</h3>
                <div class="d-block w-100">
                    <div class="progress bg-dark">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="skillContainer">
                <h3 class="text-center">Express</h3>
                <div class="d-block w-100">
                    <div class="progress bg-dark">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="skillContainer">
                <h3 class="text-center">MongoDB</h3>
                <div class="d-block w-100">
                    <div class="progress bg-dark">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </article>
        <h3 class="display-6 bg-dark d-inline-block px-5 mt-5">Dev Tools</h3>
        <article class="d-flex justify-content-around flex-wrap mt-5"> 
            <div class="skillContainer">
                <h3 class="text-center">Git</h3>
                <div class="d-block w-100">
                    <div class="progress bg-dark">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
            <div class="skillContainer">
                <h3 class="text-center">Github</h3>
                <div class="d-block w-100">
                    <div class="progress bg-dark">
                        <div class="progress-bar bg-success" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </article>
    </section>    
    <section class="container-fluid hr bg-dark" id="projects">
        <h2 class="display-4 text-center py-5">Projects</h2>
        <article class="d-flex justify-content-around flex-wrap mt-5">
            <div class="card">
                <img src="Imagenes/yelpcamp.png" class="card-img-top" alt="YelpCamp">
                <div class="card-body">
                <h5 class="card-title">YelpCamp</h5>
                <p class="card-text">#Bootstrap #NodeJS #Express #MongoDB</p>
                <button class="btn btn-primary mt-3"><a target="_blank" href="https://github.com/Kameha1011/yelpcamp">See Repository</a></button>
                <button class="btn btn-success mt-3"> <a target="_blank" href="https://yelpcamp-jhka.onrender.com">Visit Page</a></button>
                </div>
            </div>
            <div class="card ">
                <img src="Imagenes/interactiveForm.png" class="card-img-top" alt="Interactive Card Details Form project">
                <div class="card-body">
                <h5 class="card-title">Interactive Card Details</h5>
                <p class="card-text">#HTML #CSS #FlexBox #JavaScript</p>
                <button class="btn btn-primary mt-3"> <a target="_blank" href="https://github.com/Kameha1011/Interactive-Card-Details-Form"> See Repository</a></button>
                <button class="btn btn-success  mt-3"> <a target="_blank" href="https://interactive-card-details-form-five.vercel.app/">Visit Page</a> </button>
                </div>
            </div>
            <div class="card ">
                <img src="Imagenes/leslysocialmedia.png" class="card-img-top" alt="Landing Page project">
                <div class="card-body">
                <h5 class="card-title">Leslie Estrada Landing Page</h5>
                <p class="card-text">#HTML #CSS #Bootstrap</p>
                <button class="btn btn-primary mt-3"> <a target="_blank" href="https://github.com/Kameha1011/LeslyCabreraLandingPage">See Repository</a> </button>
                <button class="btn btn-success  mt-3 "><a  target="_blank" href="https://lesly-cabrera-landing-page.vercel.app/">Visit Page</a></button>
                </div>
            </div>
            <div class="card">
                <img src="Imagenes/pokemon.png" class="card-img-top" alt="More Projects Comming">
                <div class="card-body">
                <h5 class="card-title">Pokemon</h5>
                <p class="card-text">#React #HTML #FlexBox #PokeAPI</p>
                <button class="btn btn-primary mt-3">
                    <a href="https://github.com/Kameha1011/Pokedex" target="_blank">
                        See Repository
                    </a>
                </button>
                <button class="btn btn-primary mt-3">
                    <a href="https://pokedex-mu-five.vercel.app/" target="_blank">
                        Visit Page
                    </a>
                </button>
                </div>
            </div>
        </article>
    </section>
    

 