.projects {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #e5e5e5;
}
.projects__cardContainer {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
}
.projects__card {
  background-color: #183d3d;
  color: #fff;
  border-radius: 0.7rem;
  width: 90%;
  height: 550px;
}
.card__header {
  height: 35%;
}
.card__figure,
.card__image {
  height: 100%;
}
.card__body {
  height: 40%;
}
.card__footer {
  padding: 0.7rem;
  height: 25%;
}
.card__image {
  border-radius: 0.7rem 0.7rem 0 0;
  width: 100%;
}
.card__body {
  padding: 0.7rem;
}
.card__title {
  font-size: 2rem;
  height: 50%;
  text-align: center;
}
.card__icons {
  width: 100%;
  background-color: #5c8374;
  max-height: 5rem;
  color: #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.7rem;
  padding: 0.7rem;
  margin: 1rem 0 1rem 0;
}
.card__icon {
  font-size: 2.5rem;
  position: relative;
  transition: font-size 0.1s ease-out;
}
.card__tooltip {
  color: black;
  background-color: #e5e5e5;
  padding: 0.7rem;
  border-radius: 0.7rem;
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 2.5rem;
  width: fit-content;
  font-size: 1.2rem;
  transform: translate(-50%, -50%);
  visibility: hidden;
  z-index: 3;
}
.card__icon:hover {
  font-size: 3rem;
  transition: all 0.15s ease-in;
}
.card__tooltip::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #e5e5e5 transparent transparent transparent;
}
.card__icon:hover .card__tooltip {
  visibility: visible;
}
.card__actions {
  width: 100%;
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
.card__button {
  border-radius: 1rem;
  padding: 0.7rem;
  font-size: 1.1rem;
  color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  text-decoration: none;
}
.card__button--view {
  background-color: #93b1a6;
  border: 2px solid #5c8374;
  color: #000;
}
.card__button--view:hover {
  background-color: #5c8374;
  border: 2px solid #93b1a6;
}
.card__button--github {
  background-color: #24352e;
  border: 2px solid #93b1a6;
}
.card__button--github:hover {
  background-color: #93b1a6;
  border: 2px solid #5c8374;
}

.button__icon {
  margin-right: 0.3rem;
}

@media (min-width: 768px) {
  .projects__cardContainer {
    flex-flow: row wrap;
    justify-content: center;
  }
  .projects__card {
    width: 32%;
  }

  .card__actions {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  .projects {
    padding: 2rem;
  }
  .card__header {
    height: 45%;
  }
  .card__body {
    height: 40%;
  }
  .card__title {
    height: 35%;
  }
}
