.education {
  padding: 1rem;
  min-height: 70vh;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .education {
    padding: 2rem;
  }
}
