<footer class="container-fluid d-flex hr altBg" id="footer">
    <article>
        <h2 class="display-6 my-4">Contact</h2>
        <form action='https://formsubmit.co/927d16717caaeac4131f62b5df99328f' method="POST" class="contact-form needs-validation" novalidate>
            <input type="text" id="name" name="name" placeholder="Put your name!" class="form-control my-3" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <input type="email" id="email" name="email" placeholder="example@mail.com" class="form-control my-3" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <input type="text" id="subject" name="subject" placeholder="Msg Purpose!" class="form-control my-3" required>
            <div class="valid-feedback">
                Looks good!
            </div>
            <textarea class="form-control my-3" id="message" name="message" placeholder="You can express your feelings here, i'll read you :)" rows="3" required></textarea>
            <div class="valid-feedback">
                Looks good!
            </div>
            <div class="col-md-5">
                <button class="btn btn-success submit">Send Message</button>
            </div>
        </form>
    </article>
    <article>
        <h2 class="my-4 display-6">My Social Media</h2>
        <ul class="d-flex">
            <li>
                <a href="https://github.com/Kameha1011" target="_blank">
                    <i class="bi bi-github icon"></i> </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/omar-flores-8289a1221/" target="_blank">
                    <i class="bi bi-linkedin icon"></i></a>
            </li>
        </ul>
    </article>
</footer>