<nav class="navbar navbar-expand-lg navbar-dark sticky-top" id="nav">
    <div class="container-fluid d-lg-flex flex-lg-column">
        <a class="navbar-brand" href="#">
            <img src="Imagenes/omar.jpg" class="img-thumbnail d-none d-lg-inline-block" alt="Profile Picture" id="profPic">
        </a>
        <h3 class="lead mt-3 mb-lg-5 me-4 text-light">Omar Flores</h3>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center me-5" id="navbarNavAltMarkup">
            <div class="navbar-nav d-lg-flex flex-lg-column">
                <a href="#about" class="nav-link active mt-2">About</a>
                <a href="#skills" class="nav-link active mt-3">Skillset</a>
                <a href="#projects" class="nav-link active mt-3">Projects</a>
                <a href="#footer" class="nav-link active mt-3">Contact</a>
        </div>
        </div>
    </div>
</nav>