<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="Imagenes/favicon.png" type="image/icon type">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <title>My beautiful dark twisted portfolio</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top" id="nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Omar Flores</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a href="#presentacion" class="nav-link active">About</a>
                    <a href="#skills" class="nav-link active">Skillset</a>
                    <a href="#proyectos" class="nav-link active">Projects</a>
                    <a href="#footer" class="nav-link active">Contact</a>
                </div>
            </div>
        </div>
    </nav>
    <main class="container-fluid row flex-column align-items-center justify-content-center" id="main">
        <div class="col-md-10 col-sm-12 col-lg-8">
            <section class="container row " id="presentacion">
                <section class="col-lg-3 col-md-12 col-sm-12 pt-4">
                    <img src="Imagenes/omar.jpg" class="img-thumbnail" alt="Profile Picture" id="profPic">
                </section>
                <section class="col-md-12 col-lg-9 col-sm-12 pt-5">
                    <h1 class="display-3 ">Omar Flores</h1>
                    <div class='console-container'><span id='text'></span>
                        <div class='console-underscore' id='console'>&#95;</div>
                    </div>
                </section>
                <section class="col-md-12 text-center mt-5">
                    <p class="lead">Hi there! my name is Omar I'm 20 years old and I'm a fullstack web developer in
                        process. I'm forming myself through Colt Steele's web developer bootcamp and 'Argentina
                        Programa' national course also I like to experiment by myself and adding knowledge everyday, I'm
                        a student for Informatic Engineering at the Universidad de Buenos Aires, my goal is to get a job
                        as a web developer in order to gain experience in this field and expand my knowledge and skills!
                </section>
        </div>
        <div class="col-md-12 col-sm-12 col-lg-10">
            <section class="container-fluid" id="skills">
                <h2 class="display-4 text-center pt-5">Skills</h2>
                <div class="row justify-content-center">
                    <h3 class="display-5 col-md-4 text-center ">Front-End</h3>
                </div>
                <section class="row mt-5 mb-5 text-center skills" id="frontEnd">
                    <div class="col-lg-12 col-12 row">
                        <div class="col-lg-6 col-12">
                            <h4> <i class="bi bi-diamond-fill"></i>HTML</h4>
                            <p>Advanced</p>
                        </div>
                        <div class="col-lg-6 col-12">
                            <h4> <i class="bi bi-diamond-fill"></i>CSS</h4>
                            <p>Intermediate</p>
                        </div>
                    </div>
                    <div class="col-lg-12 row">
                        <div class="col-lg-6 col-12">
                            <h4><i class="bi bi-diamond-fill"></i>JavaScript</h4>
                            <p>Intermediate</p>
                        </div>
                        <div class="col-lg-6 col-12">
                            <h4><i class="bi bi-diamond-fill"></i>Bootstrap</h4>
                            <p>Intermediate</p>
                        </div>
                    </div>

                </section>
                <div class="row justify-content-center">
                    <h3 class="display-5 text-center col-md-4  ">Back-End</h3>
                </div>
                <section class="row mt-5 mb-5 skills text-center" id="backEnd">
                    <div class="col-lg-12 row">
                        <div class="col-lg-6 col-12">
                            <h4><i class="bi bi-diamond-fill"></i>NodeJS</h4>
                            <p>Beginner</p>
                        </div>
                        <div class="col-lg-6 col-12">
                            <h4><i class="bi bi-diamond-fill"></i>ExpressJS</h4>
                            <p>Beginner</p>
                        </div>
                    </div>


                </section>
                <div class="row justify-content-center">
                    <h3 class="display-5 text-center col-md-4 ">Dev Tools</h3>
                </div>
                <section class="row mt-5 mb-5 skills text-center" id="devTools">

                    <div class="col-lg-12 row">
                        <div class="col-lg-6 col-12">
                            <h4><i class="bi bi-diamond-fill"></i>Git</h4>
                            <p>Intermediate</p>
                        </div>
                        <div class="col-lg-6 col-12">
                            <h4><i class="bi bi-diamond-fill"></i>Github</h4>
                            <p>Beginner</p>
                        </div>
                    </div>
                </section>
        </div>

        <section class="container-fluid row align-items-center justify-content-center" id="proyectos">
            <div class="col-md-3">
                <h2 class="display-4 text-center pt-5 me-2">Projects</h2>
            </div>
            <div class="col-md-12">
                <div class="row justify-content-evenly ">
                    <div class="card col-md-5 col-sm-4 col-10">
                        <img src="Imagenes/qrcodecomponent.png" class="card-img-top" alt="Qr Code component project">
                        <div class="card-body">
                        <h5 class="card-title">QR code component</h5>
                        <p class="card-text">#HTML #CSS #FlexBox</p>
                        <button class="btn btn-primary mt-3"><a target="_blank" href="https://github.com/Kameha1011/QRcode-omarflores">See Repository</a></button>
                        <button class="btn btn-success mt-3"> <a target="_blank" href="https://qr-code-omarflores.vercel.app/">Visit Page</a></button>
                        </div>
                    </div>
                    <div class="card col-md-5 col-sm-4 col-10">
                        <img src="Imagenes/interactiveForm.png" class="card-img-top" alt="Interactive Card Details Form project">
                        <div class="card-body">
                        <h5 class="card-title">Interactive Card Details</h5>
                        <p class="card-text">#HTML #CSS #FlexBox #JavaScript</p>
                        <button class="btn btn-primary mt-3"> <a target="_blank" href="https://github.com/Kameha1011/Interactive-Card-Details-Form"> See Repository</a></button>
                        <button class="btn btn-success  mt-3"> <a target="_blank" href="https://interactive-card-details-form-five.vercel.app/">Visit Page</a> </button>
                        </div>
                    </div>
                    <div class="card col-md-5 col-sm-6 col-10">
                        <img src="Imagenes/leslysocialmedia.png" class="card-img-top" alt="Landing Page project">
                        <div class="card-body">
                        <h5 class="card-title">Landing Page</h5>
                        <p class="card-text">#HTML #CSS #Bootstrap #EJS</p>
                        <button class="btn btn-primary mt-3"> <a target="_blank" href="https://github.com/Kameha1011/LeslyCabreraLandingPage">See Repository</a> </button>
                        <button class="btn btn-success  mt-3 "><a  target="_blank"href="https://lesly-cabrera-landing-page.vercel.app/">Visit Page</a></button>
                        </div>
                    </div>
                    <div class="card col-md-5 col-sm-6 col-10">
                        <img src="Imagenes/soon.jpg" class="card-img-top" alt="More Projects Comming">
                        <div class="card-body">
                        <h5 class="card-title">MORE PROJECTS SOON!</h5>
                        <p class="card-text">I'm actually learning and becoming pro in new technologies! such as React, Typescript, c# and more!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="container-fluid row justify-content-center" id="footer">
        <div class="col-md-4 col-sm-12 mt-3 pb-4">
            <h3>Contact me:)</h3>
            <form class="row flex-column mt-5 contact-form ">
                <div class="row">
                    <label class="col-md-4 col-sm-7 mb-3">
                        Name
                        <input type="text" id="name" placeholder="Put your name!" class="form-control" required>
                    </label>
                    <label class="col-md-4 col-sm-7  mb-3">
                        Email Address
                        <input type="email" id="email" placeholder="example@mail.com" class="form-control" required>
                    </label>
                    <label class="col-md-4 col-sm-7  mb-3">
                        Subject
                        <input type="text" id="subject" placeholder="Msg Purpose!" class="form-control" required>
                    </label>
                </div>

                <label class="col-md-8 col-sm-10 mb-3">
                    Message
                    <textarea class="form-control" id="message" placeholder="You can express your feelings here, i'll read you :)" rows="3" required></textarea>
                </label>
                <div class="col-md-5">
                    <input type="submit" class=" btn btn-success submit" value="Send Message">
                </div>
            </form>
        </div>
        <div class="col-md-4 col-sm-12 text-center mt-3">
            <div class="row flex-column">
                <div class="col-md-12">
                    <h3 class="mb-5">My Social Media</h3>
                </div>
                <div class="col-md-12">
                    <ul class="ms-5">
                        <li>
                            <a href="https://github.com/Kameha1011">
                                <i class="bi bi-github icon"></i> </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/omar-flores-8289a1221/"><i
                                    class="bi bi-linkedin icon"></i></a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src=
    "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <script src="js/app.js"></script>
</body>

</html>