body{
  color: white;
}
.mainContent{
  overflow: hidden;
}
/***************** navbar styles **********************/
.navbar {
  width: 17rem;
  display: flex;
  flex-direction: column;
  background-color: olivedrab;
  height: 100vh;
}
.navbar .container-fluid{
  background-color: olivedrab;
}
#profPic {
  height: 12rem;
  border-radius: 7rem;
}
.img-thumbnail{
  background-color: #343a40;
  border: none;
}
#nav .nav-link:hover {
  color: #2b5329;
  transition: all 1s ;
}
/******************************************************/

.hr{
  padding-bottom: 5rem;
  border-bottom: 5px solid #B2BEB5;
}
.altBg{
  background-color: #3B444B;
}

/**********************Presentacion*********************/
#presentacion {
  height: 100vh;
  
  width: 100%;
}
#presentacion .btn{
  color: #fff;
  background-color: olivedrab;
}

/* estilo animacion texto */
@import url(https://fonts.googleapis.com/css?family=Khula:700);

.console-container {
  font-family: Khula;
  font-size: 3em;
  color: white;
  margin: auto;
}

.console-underscore {
  display: inline-block;
  position: relative;
  top: -0.14em;
  left: 10px;
}
/*************************************************************/


/********** Skills ************/
.skillContainer{
  margin: 2rem 3rem;
  width: 30%;
}
/********************************/
/********* Proyects *************/
.card{
  width: 25rem;
  margin: 3rem 2rem;
  color: #262626;
  background-color: #B2BEB5;
  transition: color,background-color 1.5s;
 
}
.card:hover{
  background-color: transparent;
  color: olivedrab;
  transition: all .5s;

}
.card a{
  
  text-decoration: none;
  color: olivedrab;
}
.card button{
  border-color: #262626;
  background-color: transparent;
}
.card button:hover{
  border-color: olivedrab;
  background-color: transparent;
}
/********************************/

/**************** footer *****************/
#footer article{
  width: 50%;
}
#footer .form-control {
  background-color: #3B444B;
  color: white;
  border: none;
  border-radius: 0;
}

#footer .form-control:focus {
  background-color: #3B444B;
  color: white;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid olivedrab;
  border-radius: 0;
  box-shadow: none;
}

#footer ul li {
  list-style: none;
}
#footer i{
  color: #B2BEB5;
  font-size: 6rem;
  margin: 0 2rem;
}

#footer .submit {
  background-color: olivedrab;
  color: #3B444B;
  border-radius: 0;
  border: none;
}

#footer .submit:hover {
  background-color: #3B444B;
  color: olive;
}
/***************************************************/
@media(max-width: 768px){
  .navbar{
    width: auto;
    height: 4rem;
  }
  .console-container {
    font-size: 2em;
  }
  
}