.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  min-height: 100vh;
  color: #040d12;
  background-color: #e5e5e5;
  text-align: center;
}
.header__figure{
  width: 100%;
}
.header__image {
  width: 260px;
  height: 260px;
  border-radius: 100%;
  object-fit: cover;
}
.header__body {
  padding: 1rem;
}
.header__subtitle {
  margin-bottom: 1rem;
}

@media (min-width: 760px) {
  .header {
    min-height: 80vh;
    flex-direction: row-reverse;
    font-size: 1.2rem;
    padding: 2rem;
    width: 100%;
  }
  .header__body{
    width: 60%;
    text-align: start;
  }
  .header__figure{
    width: 40%;
  }
  .header__title {
    font-size: 3.5rem;
  }
  .header__image {
    height: 300px;
    width: 300px;
  }
}

@media (min-width: 1024px){
  .header__body{
    width: 50%;
  }
  .header__image{
    height: 400px;
    width: 400px;
  }
}
