.experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e5e5;
  height: 60vh;
  padding-bottom: 8rem;
}
.experience__timeline {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.experience__column {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.experience__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 150px;
  gap: 0.5rem;
  background-color: #d3d3d3;
  padding: 4px;
  border-radius: 0.7rem;
}
.experience__item--blank {
  height: 100px;
}
.experience__item--right::after,
.experience__item--left::after {
  content: "";
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50%);
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #183d3d;
}
.experience__item--right::after {
  right: 108%;
}
.experience__item--left::after {
  left: 108%;
}
.experience__itemLink:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #183d3d;
}
.experience__stick {
  width: 5px;
  height: 100%;
  margin: 2rem 1rem;
  background-color: #93b1a6;
  border-radius: 0.7rem;
}

@media (min-width: 768px) {
  .experience {
    height: 90vh;
  }
  .experience__title {
    font-size: 3.5rem;
  }
  .experience__item {
    width: 250px;
    height: 150px;
    padding: 15px;
    font-size: 1.5rem;
  }
  .experience__item--right {
    top: 10%;
    left: 70px;
  }
  .experience__item--right::after {
    right: 139%;
  }
  .experience__item--left::after {
    left: 139%;
  }
  .experience__item--left {
    right: 70px;
    bottom: 10%;
  }

  .experience__item--right::after,
  .experience__item--left::after {
    width: 25px;
    height: 25px;
  }
  .experience__stick {
      margin: 2rem 2rem;
    width: 15px;
  }
  .experience__item--blank {
  height: 220px;
}
}

@media (min-width: 1024px) {
  .experience__timeline {
    width: 70%;
  }
}
