.projectModal {
    background-color: #183d3d;
    color: #fff;
    width: 22rem;
    min-height: 33rem;
    z-index: 4;
    padding: 2rem;
    border-radius: 2.5rem;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    position: fixed;
    top: 50%;
    left: 50%;
    border: none;
    transform: translate(-50%, -50%);
    flex-direction: column;
    animation: .75s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
  }
  .projectModal::backdrop{
    background-color: rgba(0, 0, 0, 0.4);
  }
  .projectModal__header,
  .projectModal__body,
  .projectModal__footer {
    width: 100%;
  }
  .projectModal__header{
      height: 20%;
  }
  .projectModal__body{
      height: 65%;
      padding: .5rem;
  }
  .projectModal__footer{
      height: 15%;
  }
  .projectModal__title {
    font-family: "Playfair Display";
    font-size: 2.5rem;
  }
  .projectModal__subTitle{
      font-size: 1.5rem;
  }
  .projectModal__description {
      margin-top: .5rem;
      font-size: 1.2rem;
  }
  .projectModal__list{
    line-height: 1.3rem;
    padding: .5rem;
  }
  .projectModal__link{
      color: #fff;
      font-size: 1.2rem;
  }
  .projectModal__button{
      background-color: #93B1A6;
      border: 2px solid #5C8374;
      border-radius: 1rem;
      padding: .7rem;
      font-size: 1.1rem;
      color: #fff;
      cursor: pointer;
  }
  .projectModal__button:hover{
      background-color: #5C8374;
      border: 2px solid #93B1A6;
  }
  @media (min-width: 768px) {
    .projectModal{
      width: 30rem;
      padding: 3rem;
    }
  }
  @keyframes circle-in-center {
    from {
      clip-path: circle(0%);
    }
    to {
      clip-path: circle(125%);
    }
  }